body{
  background-color: #29293d;
  
}

.nav-bar{
  margin-left: auto;
  margin-right: auto;
  border-radius: 2.8rem;
  height: 50px;
  width: 400px;
  background-color: wheat;
  border: 2px solid black;
  font-family: 'Poppins';
}

.nav-bar a{
  text-decoration: none;
  color: black;
}

.nav-bar a:hover{
  text-decoration: none;
  color: #29293d;
}

.nav-bar a:active{
  color: #29293d;
}

.nav-bar li{
  list-style: none;
  display: inline;

  margin-left: 45px;

}

.about-me{

  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  background-color: wheat;
  height: 300px;
  width: 750px;
  border-radius:2.8rem;
  border: 2px solid black;
  font-family: 'Poppins';
}

.about-me h1{
  text-align: center;
}

.about-me p {
  font-weight: 40px;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.about-me a{
  margin-left: 310px;
  margin-top: 30px;

  position: absolute;
}

button {
  margin: 20px;
  background-color: lightgray;
  border-radius: 15px;
  width: 100px;
  height: 30px;
}
/*
.search:hover{
  
}

.search:active{
  
}
*/
